
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>

  <title>LogIn| bag</title>
</head>
<body >

 

  <div class="w-screen h-screen flex flex-col gap-y-5 justify-center items-center">
    <div>
      <h1 class="text-2xl text-gray-900">Log into Your Account</h1>
    </div>
    <form method="post" action="/user/login" class="w-96 flex flex-col gap-y-1 ">
                <!-- Floating Input for Email -->
          <div class="relative">
            <label for="email">Email</label>
            <input name="email" type="email" id="email" class="peer p-4 block w-full border-2 border-gray-300 rounded-lg text-md placeholder:text-transparent focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none bg-white text-gray-900 focus:ring-blue-500
            focus:pt-6
            focus:pb-2
            [&:not(:placeholder-shown)]:pt-6
            [&:not(:placeholder-shown)]:pb-2
            autofill:pt-6
            autofill:pb-2" placeholder="you@email.com">
          
          </div>
          <div class="relative">
            <label for="password">Password</label>
            <input name="password" type="password" id="password" class="peer p-4 block w-full border-2 border-gray-300 rounded-lg text-md placeholder:text-transparent focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none bg-white text-gray-900 focus:ring-blue-500
            focus:pt-6
            focus:pb-2
            [&:not(:placeholder-shown)]:pt-6
            [&:not(:placeholder-shown)]:pb-2
            autofill:pt-6
            autofill:pb-2" placeholder="********">
           
          </div>
          <div class="mt-1">
            <h5 class="text-gray-700">Don't have an Account?<a class="cursor-pointer pl-1 font-semibold" href="/user/register">Sign Up</a></h5>
          </div>
          <div class="w-full flex justify-center mt-5">
            <button type="submit" class="w-20 text-center py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-gray-500 text-white hover:bg-gray-600 focus:outline-none focus:bg-gray-600 disabled:opacity-50 disabled:pointer-events-none">
          
            Log In
          </button>
        </div>
        </form>
  </div>


    
</body>
</html>